@import "ham-sign.css";
@import "left-arrow-sign.css";
@import "ham-to-arrow-sign.css";
@import "h2a-w-ctrls.css";

/* cosmic decorations for environment */
body { background-color: black; height: 100%; }

h3 { color: white; }

footer a {
    color: white;
}

